@font-face {
    font-family: 'Nabla';
    src: url('Nabla-Regular.woff2') format('woff2'),
        url('Nabla-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

